

* {
    box-sizing: border-box;
}

@media (min-width: 1200px) {

    .container {
        max-width: 1170px;
    }

    .ful-container {
        width: 100%;
        background-color: #1d2126;
    }

    .hidden-row {        
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .logo {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .menu {
        display: inline-flex;
        justify-content: space-between;
        padding-left: 0;
        padding-right: 0;
    }
    .menu-a {
        padding-left: 7px;
        padding-right: 7px;
        text-transform: uppercase;
    }
    .menu > a{
        text-decoration: none;
        color: #a4aead;
        font-size: 14px;
        line-height: 30px;
    }
    .menu > a:focus {
        border: 1px solid #a4aead;
        border-radius: 4px;
        background-color: #39a493;
    }
    .menu > a:active {
        background-color: #39a493;
        color: white;
    }

    .search {
        padding-left: 10px;
        padding-right: 0;
        color: #a4aead;
        border: 1px solid #a4aead;
        border-radius: 8px;
        line-height: 30px;
        text-transform: uppercase;
        font-size: 14px;
        position: relative;
    }
    .search::before {
        content: url(img/icon\ \(1\).png);
        display: block;
        position: absolute;
        right: 0;
        top: -9px;
    }
    .search-input-text{
        background: transparent;
        border: none;
        width: 100%;
    }
    .search-input-text:focus {
        border: none;
    }




    .slider {
        width: 100%;
        height: 665px;
        background-image: url(img/img\ \(2\).png);
        background-size: cover;
    }

    .slider > .container {
        height: 100%;
    }

    .row-slider {
        display: inline-flex;
        flex-wrap: wrap;
        padding-top: 225px;
    }

    .row-slider > .slider-h1 {
        text-transform: uppercase;
        font-size: 36px;
        font-weight: 400;
    }

    .row-slider >.text {
        margin-top: 30px;
        margin-bottom: 40px;
        line-height: 1.5;
    }

    .row-slider > .buttons > .button {
        text-transform: uppercase;
        width: 120px;
        height: 40px;
        border: 2px solid #a4aead; 
        border-radius: 4px;
        color: #a4aead;   
        margin-right: 10px;
        background: transparent;   
    }

    .row-slider > .buttons > .button:focus {
        background-color: #39a493;
        color: white;
        border: none;
    }




    .we-are-modest {
        width: 100%;
        height: 610px;
        border-bottom: 1px solid #abadaf;
    }

    .row-modest {
        color: #abadaf;
        padding-top: 80px;
        display: inline-flex;
        flex-wrap: wrap;
    }

    .modest-block, .meet-block, .lovely-block, .what-block, .features-block {
        height: 35px;
        line-height: 35px;
        border-left: 10px solid #c8cdd0;
        margin-left: 15px;
        margin-bottom: 60px;
    }

    .modest-h1, .meet-h1, .lovely-h1, .what-h1, .features-h1{
        font-size: 35px;
        font-weight: 700;
        text-transform: uppercase;
        color: #292f36;
    }
    .modest-text {
        margin-bottom: 40px;
        line-height: 1.5;
    }
    .modest-net > ul > li.box {
        width: 60px;
        height: 60px;
        margin-right: 1px;
        background-color: #c8cdd0;
    }
    .modest-ul {
        display: inline-flex;
        position: relative;
        margin-bottom: 100px;
    }
    .fb:before {
        content: url(img/icon\ \(8\).png);
        display: inline-block;
        position: absolute;
        left: 5px;
        top: 5px;
    }
    .twitter::before {
        content: url(img/icon\ \(9\).png);
        display: inline-block;
        position: absolute;
        left: 66px;
        top: 5px;
    }

    .google::before {
        content: url(img/icon\ \(4\).png);
        display: inline-block;
        position: absolute;
        left: 127px;
        top: 5px;
    }

    .ball::before{
        content: url(img/icon\ \(3\).png);
        display: inline-block;
        position: absolute;
        left: 188px;
        top: 5px;
    }

    .be::before {
        content: url(img/icon\ \(2\).png);
        display: inline-block;
        position: absolute;
        left: 249px;
        top: 5px;
    }

    .row-in-row {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .box01, .box02, .box03 {
        /* width: 50px; */
        height: 50px;
        background-color: #23b7a4;
        text-align: center;
        color: white;
        padding-top: 17px;
    }

    .row01-h3, .row02-h3, .row03-h3 {
        text-transform: uppercase;
        margin-bottom: 15px;}

    .row01-info, .row02-info, .row03-info {
        margin-bottom: 35px;
        line-height: 1.3;
    }






    .row-meet {
        display: inline-flex;
        flex-wrap: wrap;
        padding-bottom: 105px;
    }

    .meet-block {
        margin-top: 80px;
        margin-bottom: 60px;
    }

    .name {
        background-color: #e1e6ea;
        height: 75px;
        margin-top: -3px;
        padding: 14px 20px;
        line-height: 1.4; 
        color: #abadaf;     
    }

    .name > h3 {
        text-transform: uppercase;
        color: black;
    }

    .Bromley, .Torres, .Gillette, .Reed {
        position: relative;
    }

    .Bromley-opacity, .Torres-opacity, .Gillette-opacity, .Reed-opacity {
        display: none;
    }

    .Bromley:hover .Bromley-opacity {
        display: block;
    }

    .Torres:hover .Torres-opacity{
        display: block;
    }

    .Gillette:hover .Gillette-opacity{
        display: block;
    }

    .Reed:hover .Reed-opacity{
        display: block;
    }

    .img-opacity {
        position: absolute;
        width: 263px;
        height: 300px;
        background-color: rgba(250, 248, 248, 0.5);
        top: 0;
    }

    .name-opacity {
        position: absolute;
        background-color: #3a454d;
        width: 263px;
        height: 75px;
        margin-top: -3px;
        padding: 14px 20px;
        line-height: 1.4; 
        color: white; 
        top: 303px;
    }

    .name-opacity > h3 {
        text-transform: uppercase;
    }






    .lovely-work {
        height: 900px;
        background-color: #3a454d;
        padding-top: 80px;
        padding-bottom: 60px;
    }
    .row-lovely {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .lovely-block {
        border-left: 10px solid #4e5a62;
    }

    .lovely-h1 {
        color: white;
        font-weight: 400;
    }




    .flex {
        display: inline-flex;
        flex-wrap: wrap;
    }
    .travel-foto {
        position: relative;
    }

    .travel-foto:hover .travel-foto-opacity, .gray-botton{
        display: block;
    }
      

    .travel-foto-opacity {
        display: none;
        position: absolute;
        
    }

    .pluss {
        position: absolute;
        background-color: #4e5a62;
        width: 360px;
        height: 205px;
        opacity: 0.6;
        top: -267px;

    }
    .pluss::before {
        content: url(img/plus.png);
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        color: white;
        z-index: 20;
        top: 90px;
        right: 170px;
    }

    .gray {
        position: absolute;
        width: 360px;
        height: 62px;
        background-color: #292f36;
        bottom: 0;
        text-align: center;
        font-size: 20px;
        padding-top: 20px;
        opacity: 1;
    }

    






    .line {
        margin-bottom: 30px;
    }

    .lovely-button-show {
        text-align: center;
    }

    .show-me-more {
        margin: 60px 0;
        width: 148px;
        height: 40px;
        border: 1px solid white;
        border-radius: 8px;
        background: transparent;
        color: white;
    }

    .show-me-more:active {
        background-color: rgba(250, 249, 249, 0.2);
    }




    .what-we-do {
        height: 900px;
        width: 100%;
        padding-top: 80px;
        margin-bottom: 160px;
    }

    .row-what, .what-ul {
        display: inline-flex;
        flex-wrap: wrap;
    }

    .about-us {
        text-align: center;
        color: #9c9ea1;
        line-height: 1.7;
        margin-top: 90px;
    }

    .what-h3 {
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 30px;
        color: black;
    }




    .features {
        width: 100%;
        height: 735px;
        background-color: #3a454d;
        padding-top: 85px;
    }

    .row-features, .features-ul {
        display: inline-flex;
        flex-wrap: wrap;
    }
    
    .features-h1 {
        color: white;
        margin-left: 15px;        
    }

    .features-li {
        text-align: left;
        line-height: 1.6;
        font-size: 14px;
    }

    .uppercase {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 55px;
        margin-bottom: 30px;
        font-weight: 700;

    }

}

