/* 


.col-xs-12{
    flex: 0 0 100%;
    max-width: 100%;
}


.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}




@media (max-width:767px) {
    .container {
        max-width: 100%;
    }
    .col-xs-hidden {
        display: none;
    }
    .hidden-row {
        flex-wrap: wrap;
    }
    .logo {
        text-align: center;
        height: 65px;
        line-height: 65px;
    }
    .menu{
        display: flex;
        justify-content: space-between;
        height: 45px;
        line-height: 45px;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 20px;
        overflow-x: auto;
    }
        
        .menu > a {
        /* padding-top: 5px;
        padding-bottom: 5px; */
        /* margin-right: 20px;
        text-transform: uppercase;
        text-decoration: none;
        color: #a4aead;
        font-size: 14px;

        }
    
        .menu > a:hover {
        border: 1px solid  #a4aead;
        border-radius: 4px;
    }

    .slide {
        background-image: url(img/img\ \(2\).png);
        overflow: hidden;
    }

} */



 */
